@model ezGift.Models.UserProfileDetail

@{
    ViewBag.Title = "Profile Exists";
}

<div class="sub-body detail-background">
    <div class="small-jumbotron small-jumbotron-detail some-opacity">


        <h2>@ViewBag.Title</h2>

        @if (TempData.ContainsKey("SaveResult"))
        {
            <div class="alert alert=success fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span>&times;</span>
                </button>
                @TempData["SaveResult"]
            </div>
        }

        <div>
            <h4>User Profile Detail</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.UserProfileId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserProfileId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OwnerId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OwnerId)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.UserProfileId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>

    </div>
</div>